@import "tailwindcss";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: quick-sand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  @apply bg-zinc-950 uppercase tracking-normal;
  /* background-color: aliceblue; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  @apply text-sm font-semibold;
}

input,
textarea {
  @apply text-sm uppercase tracking-wide font-bold bg-white/60 text-gray-900 border-neutral-600 w-full rounded-sm p-1.5;
}

input:read-only,
textarea:read-only {
  @apply cursor-not-allowed bg-white/30 text-gray-300;
}

select {
  @apply text-sm uppercase tracking-wide font-bold bg-white/60 text-gray-900 border-neutral-600 w-full rounded-sm p-1.5;
}
